body{
    margin: 0;
    padding: 0;
}
body .browserstack{
    margin: auto;
    width: 100%;
}

body .browserstack .laptop-bg{
    background-image: url("images/bg1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    height: 810px;
}
body .browserstack .laptop-bg .nav-bar {
    font-size: 25px;
    padding: 1.4%;
}
body .browserstack .laptop-bg .nav-bar .li{
    margin-right: 1.5%;
    float: right;
    font-size: 21px;
}
body .browserstack .laptop-bg .heading{
    text-align: center;
    font-size: 54px;
    width: 50%;
    margin: auto;
    padding: 9% 0 3%;
}
body .browserstack .laptop-bg .line1{
    background-color: red;
    width: 6%;
    margin: auto;
    height: 6px;
}
body .browserstack .laptop-bg .instant{
    text-align: center;
    font-size: 28px;
    width: 67%;
    margin: 3% auto;
    letter-spacing: 1px;
}
body .browserstack .laptop-bg .buttons {
    text-align: center;
    margin: 4%;
}
body .browserstack .laptop-bg .buttons button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 47px;
    padding: 1.5% 5%;
    font-size: 22px;
}


body .browserstack .red-bg{
    background-color: #f1101e;
    color: white;
    height: 487px;
}
body .browserstack .red-bg .test{
    text-align: center;
    font-size: 48px;
    width: 78%;
    margin: auto;
    padding: 6% 0 2%;
}
body .browserstack .red-bg .line2{
    background-color: #f1efed;
    width: 6%;
    margin: auto;
    height: 6px;
}
body .browserstack .red-bg .our{
    text-align: center;
    font-size: 27px;
    width: 54%;
    margin: 2% auto;
}
body .browserstack .red-bg .buttons2 {
    text-align: center;
    margin: 2%;
}
body .browserstack .red-bg .buttons2 button {
    background-color: #f1efed;
    color: black;
    border: none;
    border-radius: 37px;
    padding: 1.5% 2.5%;
    font-size: 22px;
    font-weight: bold;
}


body .browserstack .white-bg{
    height: 500px;
}
body .browserstack .white-bg .features{
    text-align: center;
    font-size: 47px;
    width: 78%;
    margin: auto;
    padding: 6.5% 0 1.5%;
    font-weight: bold;
}
body .browserstack .white-bg .line3{
    background-color: black;
    width: 6%;
    margin: 0 auto 4%;
    height: 6px;
}
body .browserstack .white-bg table{
    text-align: center;
    margin: auto;
    width: 90%;
}

/*animation*/
body .browserstack .white-bg table .row1 td .rotate-image{
    animation: rotation 2s linear infinite;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

body .browserstack .white-bg table .row2{
    font-weight: bold;
    font-size: 33px;
}
body .browserstack .white-bg table .row3 td{
    font-size: 20px;
}


body .browserstack .black-bg{
    background-color: #444343;
    color: white;
    height: 300px;
}
body .browserstack .black-bg .sign{
    text-align: center;
    font-size: 50px;
    margin: auto;
    padding: 4% 0 2.5%;
}
body .browserstack .black-bg .buttons3 button {
    background-color: #f1101e;
    color: white;
    border: none;
    border-radius: 40px;
    padding: 1.5% 5%;
    font-size: 20px;
    font-weight: bold;
}
body .browserstack .black-bg .buttons3 {
    text-align: center;
}


body .browserstack .footer{
    font-size: 22px;
    padding: 1% 2%;
    height: 10px;
    margin-bottom: 4%;
}
body .browserstack .footer .right2{
    font-weight: bold;
    float: right;
}
body .browserstack .footer .left2 .li{
    margin-right: 20px;
    font-size: 20px;
}